@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background-color: red;
}
.main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
.izquierda {
  background-color: #71c9f8;
  color: white;
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  margin: 0;
  padding: 0;

  .caja {

    .input {
        border-radius: 2px;
        padding: 5px;
        padding-bottom: 0;
        background: rgba(158, 154, 154, 0.241);;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #1da1f2;
        margin-bottom: 8px;

        .case {
            border: none;
            background: transparent;
            font-size: 18px;
        }
    }

    .olvidala {
        padding: 0 5px;
    }
  }
}
.usame {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  list-style: none;
}
._case {
  width: auto;
  border: none;
  border-bottom: 1px solid #1da1f2;
  outline: none;
  height: 40px;
  color: rgb(226, 232, 232);
  font-size: 0.8em;
}
.medio {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.unete {
  font-weight: bold;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: start;
  font-size: 2rem;
}

.main h1 {
  font-size: 2rem;
  text-align: start;
}
.unete input {
  font-weight: bold;
  margin-top: 10px;
  color: #1da1f2;
  border-color: #1da1f2;
  outline: none;
  height: 40px;
  background: transparent;
  font-size: 18px;
  border-radius: 20px;
}

.pajarito {
  display: flex;

  align-self: flex-start;
}
.main h1,
.pajarito {
  font-weight: bold;
  display: inline-flex;
  flex-direction: column;
  margin: 50px 50px auto 50px;
}

.boton {
  margin-top: 15px;
  color: #71c9f8;
  border: 1px #1da1f2 solid;
  outline: none;
  height: 40px;
  background-color: transparent;
  font-size: 18px;
  border-radius: 20px;
  padding: 0 16px;

  &.boton-primario {
      background-color: #1da1f2;
      color: white;
  }
}


.link {
    text-decoration: none;
    line-height: 40px;
    text-align: center;
}
.izq {
  margin-top: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;

  img {
      margin-right: 20px;
  }
}
.derecha {
  color: aliceblue;
  background-color: #15202b;
  padding: 20px;
  width: 50%;
}

.pie {
  text-align: center;
  background-color: #15202b;
  color: white;
  padding: 20px;
  font-size: 0.7rem;
}
.pie a {
  margin: 2px;
  font-size: 1.5em;
  text-decoration: none;
  color: #8899a6;
}
.pie a:hover {
  color: white;
}
.contraseña a:hover {
  color: white;
}
.olvidala {
  color: #8899a6;
}
.regis {
  background-color: #1da1f2;
}
