@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url(/_telefono.scss);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
.izquierda {
  background-color: #71c9f8;
  color: white;
  padding: 20px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  margin: 0;
  padding: 0;


  .caja {
    .input {
      border-radius: 2px;
      padding: 10px;
      padding-bottom: 0;
      background: rgba(214, 207, 207, 0.303);
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid #657480;
      margin-bottom: 8px;

      .case {
        border: none;
        background: transparent;
        font-size: 18px;
      }
    }

    .olvidala {
      padding: 0 5px;
      text-decoration: none;
    }
  }
}
.usame {
  font-size: 19px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  list-style: none;
}
.iconito svg {
  fill: currentColor;
  stroke: currentColor;
}
.iconito {
  margin-right: 20px;
  color: white;
}

._case {
  width: auto;
  border: none;
  border-bottom: 1px solid #1da1f2;
  outline: none;
  height: 40px;
  color: gray;
  font-size: 0.8em;
}
.medio {
  font-size: 1.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.unete {
  font-weight: bold;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  text-align: start;
  font-size: 2rem;
}
.main h1 {
  font-size: 2rem;
  text-align: start;
}
.unete input {
  font-weight: bold;
  margin-top: 10px;
  color: #1da1f2;
  border-color: #1da1f2;
  outline: none;
  height: 40px;
  background: transparent;
  font-size: 18px;
  border-radius: 20px;
}

.pajarito {
  display: flex;
  color: red;
  align-self: flex-start;
  margin-top: 70px;
  margin-bottom: 10px;
}
.main h1,
.pajarito {
  font-weight: bold;
  display: inline-flex;
  flex-direction: column;
  font-size: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

.boton {
  margin-top: 5px;
  color: #71c9f8;
  border: 1px #1da1f2 solid;
  outline: none;
  height: 40px;
  background-color: transparent;
  font-size: 18px;
  border-radius: 20px;
  padding: 0 16px;

  &.boton-primario {
    background-color: #1da1f2;
    margin-bottom: 10px;
    color: white;
  }
}

.link {
  text-decoration: none;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}
.izq {
  margin-top: 40px;
  margin-right: 20px;
  display: flex;
  align-items: center;

   svg {
     fill: white;
   }
}
.derecha {
  color: black;
  background-color: white;
  padding: 20px;
  width: 50%;
}

.pie {
  text-align: center;
  background-color: white;
  color: grey;
  padding: 20px;
  font-size: 10px;
}
.pie a {
  margin: 2px;
  font-size: 1.5em;
  text-decoration: none;
  color: #8899a6;
}
.pie a:hover {
  color: #1da1f2;
}
.contraseña a:hover {
  color: #8899a6;
}
.olvidala {
  color: #1da1f2;
}
.regis {
  background-color: #8899a6;
}

.letra {
  display: flex;
  font-size: 30px;
}
.warning{
  width: 200px;
  text-align: center;
  margin: auto;
  color: red;
  padding-top:20px ;
}
